@import 'mixin';

.about-header {
    @include header-img;
    h1{
        padding-top: 105px;
    }
}

.about {
    h1 {
        font-size: 50px;
        line-height: 1.3;
        font-family: 'Abril Fatface', cursive;
        color: #B8685D;

        span {
            @include span-h;
            color: #E4BFAD;
            border-color: #e8f380;
        }
    }
   
    text-align: center;
    padding: 90px 0 90px 0;

    img {
        width: 5rem;
    }

    p {
        font-size: 1.5em;
    }

    .about-who {
        @include about-who-what;
    }

    .about-what {
        @include about-who-what;
    } 

    .row {
        margin-bottom: 0;
    }
}

.about-numbers {
    background-color: #e4bfad;

    .numbers {

        img {
            width: 5rem;
        }
       
        .row {
            margin-bottom: auto;
        }

        h1 {
            span {
                @include span-h;
                border-color: #ffffff;
            }
        }

        p {
            font-size: 1.5em;
        }
    }
}

.about-find {
    
    img {
        width: 30rem;
    }

    .find-what {
        text-align: center;
        margin-top: 1rem;
        
        h1 {
            span {
                @include span-h;
                border-color: #e4bfad;
            }
        }
    }

    .row {
        margin-bottom: 0;
    }
}

.about-share {
    .row {
        margin-bottom: 0;
    }
}