@import 'mixin';
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Catamaran&display=swap');

.section-find {
    overflow: hidden;
}

.header-find {

    padding: 0;

    img {
        width: 28rem;
    }
    
    @include header-img;
    
    .header-img {
        background: url(/assets/images/bg.png) no-repeat;
        background-size: cover;
        position: relative;

        img {
            position: absolute;
            bottom: 1.5px;
        }
    }

    h5 span {
        font-weight: bold;
    }

}

.categories {
 
    a {
        color: black;
    }

    margin-top: 3rem;

    .inspi {
        margin-top: 5rem;
        font-weight: bold
    }

    h3 {
        span {
            @include span-h;
            border-color: #e8f380;
        }
    }

}