@import 'mixin';
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

/* HEADER */
.header-section {
    
    @include header-img;
    
    .header-img {
        background: url(/assets/images/bk-home.png) no-repeat;
        @include bck-img;

        .row {
            display: flex;

            .col {
                margin: 0 auto;
            }
        }
    }
    
    .mouse {
        display: block;
        margin: 0 auto;
        width: 26px;
        height: 46px;
        border-radius: 13px;
        border: 2px solid #E4BFAD;
    
        span {
            display: block;
            margin: 6px auto;
            width: 2px;
            height: 2px;
            border-radius: 4px;
            background: #6e4835;
            border: 1px solid transparent;
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
            -webkit-animation-name: scroll;
            animation-name: scroll;
        }
    }
}

// ********** SECTION 2 TOP RATED **********

// ********** CAROUSEL **********
.top-rated,
.carousel-home {
    
    text-align: center;
    margin-top: 5rem;

    .carousel {
        height: 100%;

        .carousel-cell {
            width: 28%;
            height: auto;
            margin-right: 10px;
            border-radius: 5px;
            text-align: center;
            margin-top: 5rem;
            margin-bottom: 3rem;
        }

        .card-rating {
            @include d-flex-center;
        }
    }
}

.carousel-home {
    @include carousel-card-hoverable;
}

// ********** SECTION 3 SHARE OR FIND **********

.home-text {
    background-color: #EFE3DE;
    text-align: center;
    padding: 35px;
    h1 {
        margin: 0;
    }
}

// ********** SECTION 3 SHARE OR FIND **********

.share-find {

    margin-top: 5rem;

    img {
        width: 25rem;
        @include d-flex-center;
        margin: auto;
    }

    h1 {
        text-align: center;

        span {
            color: #E4BFAD;
            border-color: #e8f380;
        }
    }
}
 
/* KEYFRAMES HEADER */
@-webkit-keyframes scroll {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
}

@keyframes scroll {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
    }
}