@import 'mixin';

.user-profile {
    margin-top: 5rem;

    img {
        width: 10rem;
    }

    .my-profile {
        h3 {
            padding-top: 30px;
        }
    }

    .tabs {
        @include d-flex-center;
    }

    .container {
        text-align: center;
    }    
    .row {
        text-align: center;
    }

    input[type=email] {
        width: 50%;
        text-align: center;
    }
    
    .collapsible .collapsible-header {
        text-align: center;
        @include d-flex-center;

        h4 {
            padding: 0 12px;
        }
    }

    .btn-edit {
        margin-bottom: 30px;
    }

    .empty-post {
        h3 {
            padding-top: 30px;
        }
    }
}