@import 'mixin';

// BTN
.show-btn {

    padding: 30px;
    .container {
        @include d-flex-center;
        .row{
            margin-bottom: 0;
            a {
                width: 100%;
            }
        }
    }
}

// CARD POST SHOW
.card-post {
    .row{
        display: flex;
        justify-content: center;
    }
    .card {
        padding: 20px;
        
        .card-action {
            a.card-link-website, h5.card-phone {
                @include d-flex-center;
                i{
                    margin-right: 20px;
                }
            }
        }
    }
}

// IMAGE CERCLE MATERIALIZE
.collection .collection-item.avatar:not(.circle-clipper)>.circle, .collection .collection-item.avatar :not(.circle-clipper)>.circle {
    position: absolute;
    width: 65px;
    height: auto;
    overflow: hidden;
    left: 0;
    display: inline-block;
    vertical-align: middle;
}

// CARD REVIEWS
.reviews-container {
    ul.collection {
        li.avatar {

            padding: 20px 20px 20px 20px;

            .review-profile-image {
                padding-bottom: 80px;
                position: relative;
            }

            .review-content {
                text-align: center;
            }

            p.review-rate {
                font-size: 2em;
                font-weight: 500;
            }
        }
    }
}