@import 'mixin';

.show-btn {

    .container {
        @include d-flex-center;
    }
}

.reviews-container {
    ul.collection {
        li.avatar {
            padding: 20px 20px 20px 20px;
            .review-profile-image {
                padding-bottom: 60px;
            }

            .review-content {
                text-align: center;
            }
        }
    }
}

// .card-show {

//     .card {
//         .card-action a.card-link-website {
//             color: #4b2a00!important;
            
//         }   
//     }
// }