@import 'mixin';
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Catamaran&display=swap');

.header-tr {

    padding: 0;

    img {
        width: 28rem;
    }
    
    @include header-img;
    
    .header-img {
        background: url(/assets/images/bg.png) no-repeat;
        min-height: 345px;

        .row {
            display: flex;

            .col {
                text-align: center;
                margin: 0 auto;
            }
        }
    }

    h5 span {
        font-weight: bold;
    }

}

.top-rated-explications {
    background: url(/assets/images/badge1.png) no-repeat;
    background-position: center;
    background-color: #e4bfad2e;
    .container {
        padding: 90px;
    }
}


.categories {
    margin-top: 3rem;

    h2 {
        color: #B9685D;
    }

    h3 {
        span {
            @include span-title;
            border-color: #e8f380;
        }
    }
        
    img {
        height: auto;
        width: 16rem;
    }
}

.top-10 {
    h5 {
        margin-top: 5rem;
        font-weight: bold
    }
}

.top-rated {
    @include carousel-card-hoverable;
}