@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
/* HEADER */
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Catamaran&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Catamaran&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Catamaran&display=swap");
.header-section .header-img {
  position: relative;
  text-align: center;
  color: #B8685D;
  min-height: 500px;
  letter-spacing: 2px;
}
.header-section .header-img h1 {
  font-size: 50px;
  line-height: 1.3;
  font-family: "Abril Fatface", cursive;
}
.header-section .header-img h1 span {
  font-size: 50px;
  padding-bottom: 12px;
  line-height: 3;
  border-bottom: 2px solid;
  color: #E4BFAD;
  border-color: #e8f380;
}
.header-section .header-img {
  background: url(/assets/images/bk-home.png) no-repeat;
  background-size: cover;
}
.header-section .header-img .row {
  display: flex;
}
.header-section .header-img .row .col {
  margin: 0 auto;
}
.header-section .mouse {
  display: block;
  margin: 0 auto;
  width: 26px;
  height: 46px;
  border-radius: 13px;
  border: 2px solid #E4BFAD;
}
.header-section .mouse span {
  display: block;
  margin: 6px auto;
  width: 2px;
  height: 2px;
  border-radius: 4px;
  background: #6e4835;
  border: 1px solid transparent;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
  animation-name: scroll;
}

.top-rated {
  text-align: center;
  margin-top: 5rem;
}
.top-rated .carousel {
  height: 100%;
}
.top-rated .carousel .carousel-cell {
  width: 28%;
  height: auto;
  margin-right: 10px;
  border-radius: 5px;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 3rem;
}
.top-rated .carousel .card-rating {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-text {
  background-color: #EFE3DE;
  text-align: center;
  padding: 35px;
}
.home-text h1 {
  margin: 0;
}

.share-find {
  margin-top: 5rem;
}
.share-find img {
  width: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.share-find h1 {
  text-align: center;
}
.share-find h1 span {
  color: #E4BFAD;
  border-color: #e8f380;
}

/* KEYFRAMES HEADER */
@-webkit-keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
}
.about-header .header-img {
  position: relative;
  text-align: center;
  color: #B8685D;
  min-height: 500px;
  letter-spacing: 2px;
}
.about-header .header-img h1 {
  font-size: 50px;
  line-height: 1.3;
  font-family: "Abril Fatface", cursive;
}
.about-header .header-img h1 span {
  font-size: 50px;
  padding-bottom: 12px;
  line-height: 3;
  border-bottom: 2px solid;
  color: #E4BFAD;
  border-color: #e8f380;
}
.about-header .header-img {
  background: url(/assets/images/test3.jpg) no-repeat;
  background-size: cover;
}
.about-header h1 {
  padding-top: 105px;
  margin: 0 auto;
}

.about {
  text-align: center;
  padding: 90px 0 90px 0;
}
.about h1 {
  font-size: 50px;
  line-height: 1.3;
  font-family: "Abril Fatface", cursive;
  color: #B8685D;
}
.about h1 span {
  font-size: 50px;
  padding-bottom: 12px;
  line-height: 3;
  border-bottom: 2px solid;
  color: #E4BFAD;
  border-color: #e8f380;
}
.about img {
  width: 5rem;
}
.about p {
  font-size: 1.5em;
}
.about .about-who h1 {
  margin: 0;
}
.about .about-who h1 span {
  font-size: 50px;
  padding-bottom: 12px;
  line-height: 3;
  border-bottom: 2px solid;
  border-color: #e8f380;
}
.about .about-who p span {
  font-size: 20px;
  line-height: 3;
  border-bottom: 2px solid;
  margin-left: 1rem;
  margin-right: 1rem;
  border-color: #eb85dd;
}
.about .about-what h1 {
  margin: 0;
}
.about .about-what h1 span {
  font-size: 50px;
  padding-bottom: 12px;
  line-height: 3;
  border-bottom: 2px solid;
  border-color: #e8f380;
}
.about .about-what p span {
  font-size: 20px;
  line-height: 3;
  border-bottom: 2px solid;
  margin-left: 1rem;
  margin-right: 1rem;
  border-color: #eb85dd;
}
.about .row {
  margin-bottom: 0;
}

.about-numbers {
  background-color: #e4bfad;
}
.about-numbers .numbers img {
  width: 5rem;
}
.about-numbers .numbers .row {
  margin-bottom: auto;
}
.about-numbers .numbers h1 span {
  border-color: #ffffff;
}
.about-numbers .numbers p {
  font-size: 1.5em;
}

.about-find img {
  width: 30rem;
}
.about-find .find-what {
  text-align: center;
  margin-top: 1rem;
}
.about-find .find-what h1 span {
  font-size: 50px;
  padding-bottom: 12px;
  line-height: 3;
  border-bottom: 2px solid;
  border-color: #e4bfad;
}
.about-find .row {
  margin-bottom: 0;
}

.about-faq h1 {
  font-size: 50px;
  line-height: 1.3;
  font-family: "Abril Fatface", cursive;
}

/********** INDEX PAGE **********/
@media (max-width: 1099px) {
  .top-rated .carousel .carousel-cell {
    width: 40%;
  }
}
@media (max-width: 690px) {
  .top-rated .carousel .carousel-cell {
    width: 80%;
  }
}
/******* SECTION SHARE & FIND *******/
@media (max-width: 768px) {
  .share-find img {
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
}
.header-tr {
  padding: 0;
}
.header-tr img {
  width: 28rem;
}
.header-tr .header-img {
  position: relative;
  text-align: center;
  color: #B8685D;
  min-height: 500px;
  letter-spacing: 2px;
}
.header-tr .header-img h1 {
  font-size: 50px;
  line-height: 1.3;
  font-family: "Abril Fatface", cursive;
}
.header-tr .header-img h1 span {
  font-size: 50px;
  padding-bottom: 12px;
  line-height: 3;
  border-bottom: 2px solid;
  color: #E4BFAD;
  border-color: #e8f380;
}
.header-tr .header-img {
  background: url(/assets/images/bg.png) no-repeat;
}
.header-tr .header-img .row {
  display: flex;
}
.header-tr .header-img .row .col {
  text-align: center;
  margin: 0 auto;
}
.header-tr h5 span {
  font-weight: bold;
}

.top-rated-explications {
  background: url(/assets/images/badge1.png) no-repeat;
  background-position: center;
  background-color: #e4bfad2e;
}
.top-rated-explications .container {
  padding: 90px;
}

.categories {
  margin-top: 3rem;
}
.categories h2 {
  color: #B9685D;
}
.categories h3 span {
  font-size: 50px;
  padding-bottom: 12px;
  line-height: 3;
  border-bottom: 2px solid;
  border-color: #e8f380;
}
.categories img {
  height: auto;
  width: 16rem;
}

.top-10 h5 {
  margin-top: 5rem;
  font-weight: bold;
}

.section-find {
  overflow: hidden;
}
.section-find .header-find {
  padding: 0;
}
.section-find .header-find img {
  width: 28rem;
}
.section-find .header-find .header-img {
  position: relative;
  text-align: center;
  color: #B8685D;
  min-height: 500px;
  letter-spacing: 2px;
}
.section-find .header-find .header-img h1 {
  font-size: 50px;
  line-height: 1.3;
  font-family: "Abril Fatface", cursive;
}
.section-find .header-find .header-img h1 span {
  font-size: 50px;
  padding-bottom: 12px;
  line-height: 3;
  border-bottom: 2px solid;
  color: #E4BFAD;
  border-color: #e8f380;
}
.section-find .header-find .header-img {
  background: url(/assets/images/header-find.png) no-repeat;
  background-size: cover;
  position: relative;
}
.section-find .header-find .header-img h1 {
  margin: 0 auto;
}
.section-find .header-find .header-img img {
  position: absolute;
  bottom: 1.5px;
}
.section-find .header-find h5 span {
  font-weight: bold;
}
.section-find .categories {
  margin-top: 3rem;
}
.section-find .categories a {
  color: black;
}
.section-find .categories .inspi {
  margin-top: 5rem;
  font-weight: bold;
}
.section-find .categories h3 span {
  border-color: #e8f380;
}
.section-find .find-numbers {
  background-color: #efd4c5;
}
.section-find .find-numbers img {
  width: 5rem;
}
.section-find .find-numbers .row {
  margin-bottom: auto;
}
.section-find .find-numbers h1 span {
  border-color: #ffffff;
}
.section-find .find-numbers p {
  font-size: 1.5em;
}

.header-find-cat .header-img {
  position: relative;
  text-align: center;
  color: #B8685D;
  min-height: 500px;
  letter-spacing: 2px;
}
.header-find-cat .header-img h1 {
  font-size: 50px;
  line-height: 1.3;
  font-family: "Abril Fatface", cursive;
}
.header-find-cat .header-img h1 span {
  font-size: 50px;
  padding-bottom: 12px;
  line-height: 3;
  border-bottom: 2px solid;
  color: #E4BFAD;
  border-color: #e8f380;
}
.header-find-cat .header-img {
  background: url(/assets/images/find-cat.jpg) no-repeat;
  background-size: cover;
}
.header-find-cat .header-img h1 {
  margin: 0 auto;
}

.user-profile {
  margin-top: 5rem;
}
.user-profile img {
  width: 10rem;
}
.user-profile .my-profile h3 {
  padding-top: 30px;
}
.user-profile .container {
  text-align: center;
}
.user-profile .row {
  text-align: center;
}
.user-profile input[type=email] {
  width: 50%;
  text-align: center;
}
.user-profile .collapsible .collapsible-header {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-profile .collapsible .collapsible-header h4 {
  padding: 0 12px;
}
.user-profile .btn-edit {
  margin-bottom: 30px;
}
.user-profile .empty-post {
  padding: 90px;
}
.user-profile .empty-post h3 {
  padding-bottom: 30px;
}

.edit-user-profile {
  margin-top: 5rem;
}
.edit-user-profile .container {
  text-align: center;
}
.edit-user-profile .row {
  text-align: center;
}
.edit-user-profile .card.edit-profile {
  padding: 40px 90px;
}
.edit-user-profile .card.edit-profile h3 {
  margin-bottom: 60px;
}

.btn-bck-cat {
  margin-top: 20px;
}
.btn-bck-cat a {
  margin: 20px 0 20px 0;
}

.card-find {
  text-align: center;
  height: 100%;
}
.card-find .card {
  height: 100%;
}
.card-find .card .card-image img {
  object-fit: cover;
  max-height: 17rem;
}
.card-find .card .card-action {
  padding: 0px;
  padding-top: 16px;
}
.card-find .material-icons {
  color: #F3DE2C;
}
.card-find .btn-show {
  margin-bottom: 20px;
}

.show-btn {
  padding: 30px;
}
.show-btn .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.show-btn .container .row {
  margin-bottom: 0;
}

.card-post .card {
  padding: 20px;
}
.card-post .card .card-action a.card-link-website, .card-post .card .card-action h5.card-phone {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-post .card .card-action a.card-link-website i, .card-post .card .card-action h5.card-phone i {
  margin-right: 20px;
}

.collection .collection-item.avatar:not(.circle-clipper) > .circle, .collection .collection-item.avatar :not(.circle-clipper) > .circle {
  position: absolute;
  width: 65px;
  height: auto;
  overflow: hidden;
  left: 0;
  display: inline-block;
  vertical-align: middle;
}

.reviews-container ul.collection li.avatar {
  padding: 20px 20px 20px 20px;
}
.reviews-container ul.collection li.avatar .review-profile-image {
  padding-bottom: 80px;
  position: relative;
}
.reviews-container ul.collection li.avatar .review-content {
  text-align: center;
}
.reviews-container ul.collection li.avatar p.review-rate {
  font-size: 2em;
  font-weight: 500;
}

.review-page .header-img {
  position: relative;
  text-align: center;
  color: #B8685D;
  min-height: 500px;
  letter-spacing: 2px;
}
.review-page .header-img h1 {
  font-size: 50px;
  line-height: 1.3;
  font-family: "Abril Fatface", cursive;
}
.review-page .header-img h1 span {
  font-size: 50px;
  padding-bottom: 12px;
  line-height: 3;
  border-bottom: 2px solid;
  color: #E4BFAD;
  border-color: #e8f380;
}
.review-page .header-img {
  background: url(/assets/images/test3.jpg) no-repeat;
  background-size: cover;
}
.review-page .new-review {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.review-page .new-review h5 {
  padding: 2rem;
  text-align: center;
}
.review-page .new-review p .range-field {
  margin: auto;
  text-align: center;
}
.review-page .new-review input[type=range]::-webkit-slider-thumb {
  background-color: #563428;
}
.review-page .new-review input[type=range] + .thumb.active {
  background-color: #563428;
}
.review-page .new-review input[type=range] {
  border: 1px solid;
}
.review-page .new-review .card .card-content {
  padding: 70px;
}

.admin-index .main-nav,
.admin-reviews .main-nav,
.admin-posts .main-nav,
.admin-post-show .main-nav,
.admin-post-edit .main-nav,
.admin-users .main-nav,
.admin-user-show .main-nav,
.admin-new-post .main-nav {
  background: #404040;
  padding: 1em;
  padding-bottom: 4em;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  text-align: center;
}
.admin-index .main-nav h2,
.admin-reviews .main-nav h2,
.admin-posts .main-nav h2,
.admin-post-show .main-nav h2,
.admin-post-edit .main-nav h2,
.admin-users .main-nav h2,
.admin-user-show .main-nav h2,
.admin-new-post .main-nav h2 {
  color: white;
}
.admin-index .main-nav ul,
.admin-reviews .main-nav ul,
.admin-posts .main-nav ul,
.admin-post-show .main-nav ul,
.admin-post-edit .main-nav ul,
.admin-users .main-nav ul,
.admin-user-show .main-nav ul,
.admin-new-post .main-nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.admin-index .main-nav ul li,
.admin-reviews .main-nav ul li,
.admin-posts .main-nav ul li,
.admin-post-show .main-nav ul li,
.admin-post-edit .main-nav ul li,
.admin-users .main-nav ul li,
.admin-user-show .main-nav ul li,
.admin-new-post .main-nav ul li {
  width: 100px;
  display: inline-block;
  color: #fff;
  padding: 1.5em 1em;
  text-align: center;
  border-radius: 10px;
  margin-right: 1em;
  cursor: pointer;
}
.admin-index .main-nav ul li:last-of-type,
.admin-reviews .main-nav ul li:last-of-type,
.admin-posts .main-nav ul li:last-of-type,
.admin-post-show .main-nav ul li:last-of-type,
.admin-post-edit .main-nav ul li:last-of-type,
.admin-users .main-nav ul li:last-of-type,
.admin-user-show .main-nav ul li:last-of-type,
.admin-new-post .main-nav ul li:last-of-type {
  margin-right: 0;
}
.admin-index .main-nav ul li:hover,
.admin-reviews .main-nav ul li:hover,
.admin-posts .main-nav ul li:hover,
.admin-post-show .main-nav ul li:hover,
.admin-post-edit .main-nav ul li:hover,
.admin-users .main-nav ul li:hover,
.admin-user-show .main-nav ul li:hover,
.admin-new-post .main-nav ul li:hover {
  background: #525252;
}
.admin-index .main-nav ul li i,
.admin-reviews .main-nav ul li i,
.admin-posts .main-nav ul li i,
.admin-post-show .main-nav ul li i,
.admin-post-edit .main-nav ul li i,
.admin-users .main-nav ul li i,
.admin-user-show .main-nav ul li i,
.admin-new-post .main-nav ul li i {
  display: block;
  font-size: 2.5em;
}
.admin-index .main-nav ul li span,
.admin-reviews .main-nav ul li span,
.admin-posts .main-nav ul li span,
.admin-post-show .main-nav ul li span,
.admin-post-edit .main-nav ul li span,
.admin-users .main-nav ul li span,
.admin-user-show .main-nav ul li span,
.admin-new-post .main-nav ul li span {
  display: block;
  margin-top: 1em;
}
.admin-index .content,
.admin-reviews .content,
.admin-posts .content,
.admin-post-show .content,
.admin-post-edit .content,
.admin-users .content,
.admin-user-show .content,
.admin-new-post .content {
  width: 97%;
  height: auto;
  background: #fff;
  margin: 0 auto;
  margin-top: -3em;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 1em;
}
.admin-index .content h1.title,
.admin-reviews .content h1.title,
.admin-posts .content h1.title,
.admin-post-show .content h1.title,
.admin-post-edit .content h1.title,
.admin-users .content h1.title,
.admin-user-show .content h1.title,
.admin-new-post .content h1.title {
  margin: 0;
  padding-bottom: 0.4em;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
}
.admin-index .content i,
.admin-reviews .content i,
.admin-posts .content i,
.admin-post-show .content i,
.admin-post-edit .content i,
.admin-users .content i,
.admin-user-show .content i,
.admin-new-post .content i {
  font-size: 3.5em;
}
.admin-index .content .data-graphics img,
.admin-reviews .content .data-graphics img,
.admin-posts .content .data-graphics img,
.admin-post-show .content .data-graphics img,
.admin-post-edit .content .data-graphics img,
.admin-users .content .data-graphics img,
.admin-user-show .content .data-graphics img,
.admin-new-post .content .data-graphics img {
  width: 100%;
}

.admin-posts tr, .admin-reviews tr, .admin-users tr {
  cursor: pointer;
}

.admin-new-post-form {
  text-align: center;
}

body p, body h5, body input {
  font-family: "Catamaran", sans-serif;
}
body h1, body h2, body h3 {
  font-size: 50px;
  line-height: 1.3;
  font-family: "Abril Fatface", cursive;
}
body h1 span {
  font-size: 50px;
  padding-bottom: 12px;
  line-height: 3;
  border-bottom: 2px solid;
}
body a {
  color: black;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/**************** NAV *************/
nav .brand-logo {
  font-family: "Abril Fatface", cursive;
  color: #B8685D;
  margin-left: 1rem;
}
nav ul a:hover {
  background-color: #FAF7F5 !important;
}

/**************** PARALLAX *************/
.parallax-img .parallax-container {
  height: 450px;
}
.parallax-img .parallax-container img {
  width: 200px;
  object-fit: cover;
}

/**************** TABS *************/
.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tabs .tab a, .tabs .tab a.active {
  color: #B8685D;
}
.tabs li.indicator {
  background-color: #795548;
}

/**************** PAGINATION *************/
.pagination {
  text-align: center;
}
.pagination span {
  font-size: 25px;
}

/**************** FOOTER *************/
.section-footer {
  background-color: #241A12;
  text-align: center;
}
.section-footer .container {
  padding: 20px;
}
.section-footer .container .footer-links {
  margin-bottom: 2px;
}
.section-footer .container .footer-links .row {
  margin-bottom: 0;
}
.section-footer .container .footer-links .row span {
  display: inline-block;
  height: 13px;
  border-right: 2px solid white;
  margin: 0 10px 0 10px;
}
.section-footer .container .footer-social-net a {
  color: white;
}
.section-footer .container .footer-social-net a i {
  font-size: 30px;
  margin-right: 10px;
}
.section-footer .footer-copyright {
  background-color: #3d2d20;
  color: white;
  margin: 0 auto;
}

/**************** BACK TO TOP BTN *************/
.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
}

/**************** SEARCH BAR *************/
.search-bar {
  background-color: #e3f1fd;
}
.search-bar .container {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=main.css.map */
