{% extends 'base.html.twig' %}

{% block title %}New Review{% endblock %}

{% block body %}

    <section class="share-page">

        <div class="header-img">

            <div class="row">
                <div class="col s12 m6 l4 right">
                    <h1><span>SHARE</span><br>your experience</h1>
                </div>
            </div>
        </div> 
        
        
        <!-- ********** FORM REVIEW AN ALREADY EXISTING EXPERIENCE ********** -->
        <div class="container share-container">
            <!--   Form Section   -->
            <div class="card">
                <div class="card-content">
                    {{ include('review/_form.html.twig') }}
                </div>
            </div>
        </div>

    </section>


{% endblock %}

{% block javascripts %}
    <script>
        var simplemde = new SimpleMDE({ element: document.getElementById("review_description") });
    </script>
{% endblock %}
