{% extends 'base.html.twig' %}

{% block title %}Edit your account{% endblock %}

{% block body %}

    {{ include('user/_form.html.twig', {'button_label': 'Update your account'}) }}

    <a class="btn brown" href="{{ path('my_profile') }}">back to your profile</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}